# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Paket dependency manager
.config.*
.paket/
packages/
paket-files/

# FAKE - F# Make
.fake/

# Ionide
.ionide/

# Tools
tools/

# Console
!bin/console
AssemblyInfo.fs
dist/

# application
dist
data
output
credentials
logs

# configs
.config.json
.devices.json
