source https://api.nuget.org/v3/index.json
framework: net10.0
storage: none

nuget FSharp.Core ~> 10.0
nuget FSharp.Data ~> 8.0
nuget Microsoft.Extensions.Logging ~> 10.0
nuget Microsoft.Extensions.Logging.Console ~> 10.0
nuget NReco.Logging.File ~> 1.1
nuget Newtonsoft.Json ~> 13.0
nuget Feather.ConsoleApplication ~> 2.0
nuget Feather.ErrorHandling ~> 2.0
nuget Giraffe ~> 8.0
nuget Saturn ~> 0.17

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
